@light-gray: #E4E2E4;
@electric-blue: #498CF8;
@pink: deeppink;
@translucent-electric-blue: rgba(73, 140, 248, 0.418);
@translucent-pink: rgba(255, 20, 145, 0.521);

html {
  --typewriter-cursor-color: @electric-blue;
}

body {
  background: black;
  font-family: Monaco;
  font-size: 26px;
  padding: 0;
}

:global(.vbox) {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: @electric-blue
}

.fixed(@top: 0, @left: 0, @width: 100vw, @height: 100vh) {
  position: fixed;
  width: @width;
  height: @height;
  top: @top;
  left: @left;
}

.absolute(@top: 0, @left: 0, @width: 100vw, @height: 100vh) {
  position: absolute;
  width: @width;
  height: @height;
  top: @top;
  left: @left;
}

@keyframes trippy {
  0% { filter: hue-rotate(0); }
  50% { filter: hue-rotate(180deg); }
  100% { filter: hue-rotate(0); }
}

.trippy {
  animation-name: trippy;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}