html:global {
  --light-gray: #E4E2E4;
  --electric-blue: #498CF8;

  --typewriter-cursor-color: var(--electric-blue);
}

body {
  background: black;
  font-family: Monaco;
  font-size: 26px;
  padding: 0;
}

:global(.vbox) {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: var(--electric-blue);
}