@light-gray: #E4E2E4;
@blue: rgb(127, 195, 254);
@electric-blue: #8bb9ff;
@pink: rgb(255, 0, 136);
@translucent-blue: rgba(73, 140, 248, 0.418);
@translucent-electric-blue: rgba(73, 140, 248, 0.418);
@translucent-pink: rgba(255, 20, 145, 0.521);