@import "./base.less";

:global(#hallucinations) {
  .fixed();
  transition: 2s;
  background: black;
  perspective: 100vh;
}

:global(#deepDream) {
  .absolute();
  transition: 1s;
}

:global(#hallucinations.seed) {
  transform: scale(0);
}

:global(#deepDreamLayers) {
  position: absolute;
  opacity: 0;
  transition: 1s;
  color: white;
  background: @electric-blue;
  padding: 9px;
}

:global(#deepDream) { .absolute(); }

:global(#inceptionDiagram) {
  position: absolute;
  top: 0; left: 0;
  transform: translate(0, -100%);
  width: 100vw;
  height: auto;
  opacity: 0;
  transition: transform 30s, opacity 1s;
}

:global(#deepDreamLayers.running) {
  opacity: 1;
  transition: 1s;
}

:global(#hallucinations.fullscreen) {
  transform: scale(1);

  :global(#deepDreamLayers) {
    top: 0; left: 0;
  }
}

:global(#deepDreamInputLayer) {
  .absolute(10vh, 10vw, 80vw, 80vh);
  background: @translucent-electric-blue;
  // transform: rotateX(90deg);
  transform: translateY(0vh) translateZ(-400px) rotateX(90deg);

  transform-origin: center top;
  opacity: 0;
  transition: 1s;
  border: thin solid @electric-blue;
}

:global(#deepDreamInputPixels) {
  .absolute(50%, 50%, 50vw, 50vh);
  transform: translate(-50%, -50%);
  opacity: 1;
}

:global(#deepDreamInputLayerReceptiveField) {
  .absolute(10vh, 10vw, 80vw, 80vh);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 1s;
  transform-origin: center top;
  transform: translateY(10vh) translateZ(-400px) rotateX(90deg);
}

:global(#deepDreamReceptiveFieldHighlight) {
  .absolute(50%, 50%, calc(50vw / 32 * 6), calc(50vh / 32 * 6));
  transform: translate(-50%, -50%);
  border: thin solid @pink;
  background: @translucent-pink;
}

:global(#deepDreamOutputLayer) {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transition: 1s;
  opacity: 0;
  text-align: center;
  bottom: 0;
  transform-origin: center bottom;
  background: @translucent-electric-blue;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding: 30px;
  box-sizing: border-box;
  transform: translateY(60vh) translateZ(-400px) rotateX(90deg);
}

:global(#deepDreamConvOutput) {
  .absolute(10vh, 10vw, 80vw, 80vh);  
  transform-origin: center top;
  transform: translateY(10vh) translateZ(-400px) rotateX(90deg);
  opacity: 0;
  transition: 1s;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background: @translucent-electric-blue;

  :global(.row) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  :global(.cell) {
    width: 50px;
    height: 50px;
    background: @translucent-pink;
    margin: 5px;
    border: thin solid @pink;
  }
}

:global(.P) {
  background: @electric-blue;
  color: white;
  padding: 9px;
  border-radius: 24px;
}

:global(.P)::before {
  content: 'P(';  
}

:global(.P)::after {
  content: ')';
}

:global(#deepDreamConvFilter) {
  .absolute(45%, 50%, auto, auto);
  transform: translate(-50%, -50%);
  color: @electric-blue;
  transition: 1s;
  opacity: 0;
}

:global(#hallucinations.inception) {
  .fixed();
  transform: scale(1);
  background: @light-gray;

  --video-height: calc(50vw * 9 / 16);

  :global(#deepDream) {
    position: absolute;
    bottom: -200px;
    transform-origin: center top;
    transform: translateY(10vh) translateZ(-400px) rotateX(90deg);
    perspective: 100vh;
  }

  :global(#deepDreamLayers) {
    top: var(--video-height); left: 35px;
    font-size: 18px;    
  }


  :global(#inceptionDiagram.panning) {
    opacity: 1;
    transform: translate(0, 0);
  }

  :global(#inceptionDiagram.faded) {
    opacity: 0;
  }

  :global(#deepDreamOutputLayer.shown) {
    opacity: 1;
    bottom: 25px;
    transform: rotateX(90deg);
  }

  :global(#deepDreamInputLayer.exposed) {
    opacity: 1;
    // transform: rotateX(90deg) translateZ(100px);
    transform: translateY(10vh) translateZ(-400px) rotateX(90deg);
  }
  
  .exposed {
    border: thin solid @electric-blue;
    transform: translateY(60vh) translateZ(-400px) rotateX(90deg);
    opacity: 1;
  }

  :global(#deepDreamConvOutput.exposed) {
    .exposed();
  }

  :global(#deepDreamConvOutput.blinking) {
    .exposed();

    :global(.cell-2-2) {
      .blink-pink();
    }
  }

  :global(#deepDreamInputLayerReceptiveField.forwards) {
    opacity: 1;
    :global(#deepDreamReceptiveFieldHighlight) {
      animation: blue-pink;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }

    animation: zoom-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }


  :global(#deepDreamInputLayerReceptiveField.backwards) {
    opacity: 1;
    :global(#deepDreamReceptiveFieldHighlight) {
      animation: blue-pink;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: reverse;
    }

    animation: zoom-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
  }

  :global(#deepDreamConvFilter.shown) {
    opacity: 1;
  }

}

.blink-pink {
  animation: blink-pink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blink-pink {
  0% { background: @translucent-pink; }
  50% { background: @pink; }
  100% { background: @translucent-pink; }
}

@keyframes blue-pink {
  0% { background: @translucent-electric-blue; border: @electric-blue; }
  100% { background: @translucent-pink; border: @pink; }
}

@keyframes zoom-down {
  0% {
    transform: translateY(10vh) translateZ(-400px) rotateX(90deg);
  }

  100% {
    transform: translateY(65vh) translateZ(-400px) rotateX(90deg) scale(0.4) ;
  }
}
