@import "./base.less";

.dreamFullscreenPaused #hallucinations {
  .fullscreen-black();
}

.dreamFullscreenMiquel #hallucinations {
  .fullscreen-black();
  #miquel { opacity: 1; }
}

.dreamFullscreenPlaying #hallucinations {
  .fullscreen-black();
}

.dreamFullscreenShowLayer #hallucinations {
  .fullscreen-black();
  #deepDreamLayers { opacity: 1; top: 0; left: 0; }
}

.inception #hallucinations {
  .fullscreen-gray();
  #deepDream { .layer(10vh); }
}

.inceptionFromInput #hallucinations {
  .fullscreen-gray();
  #deepDream { .layer(10vh); }
  #deepDreamInputLayer { .layer(10vh); opacity: 1; }
}

.inceptionToOutput #hallucinations {
  .fullscreen-gray();
  #deepDream { .layer(10vh); }
  #deepDreamInputLayer { .layer(10vh); opacity: 1; }
  #deepDreamOutputLayer { .layer(70vh); opacity: 1; }
}

.inceptionConv #hallucinations {
  .fullscreen-gray();
  #deepDream { .layer(10vh); }
  #deepDreamLayers { .on-conv-output(); }
  #deepDreamInputLayer { .layer(10vh); opacity: 1; }
  #deepDreamConvOutput { .layer(60vh); opacity: 1; }
  #deepDreamOutputLayer { .layer(70vh); opacity: 1; }
}

.inceptionConvForward #hallucinations {
  .fullscreen-gray();
  #deepDream { .layer(10vh); }
  #deepDreamLayers { .on-conv-output(); }
  #deepDreamInputLayer { .layer(10vh); opacity: 1; }
  #deepDreamInputLayerReceptiveField {
    opacity: 1;
    #deepDreamReceptiveFieldHighlight {
      .blink-blue-pink()
    }
    .zoom-down();
  }
  #deepDreamConvOutput {
    .layer(60vh); opacity: 1;
    .cell-2-2 {
      .blink-pink();
    }
  }
  #deepDreamOutputLayer { .layer(70vh); opacity: 1; }
}

.inceptionConvTraining #hallucinations {
  .fullscreen-gray();
  #deepDream { .layer(10vh); }
  #deepDreamLayers { .on-conv-output(); }
  #deepDreamInputLayer { .layer(10vh); opacity: 1; }
  #deepDreamInputLayerReceptiveField {
    opacity: 1;
    #deepDreamReceptiveFieldHighlight {
      .blink-blue-pink()
    }
    .zoom-down();
  }
  #deepDreamConvFilter {
    opacity: 1;
  }
  #deepDreamConvOutput {
    .layer(60vh); opacity: 1;
    .cell-2-2 {
      .blink-pink();
    }
  }
  #deepDreamOutputLayer { .layer(70vh); opacity: 1; }
}

.inceptionIncepting #hallucinations {
  .fullscreen-gray();

  #deepDream { .layer(10vh); }
  #deepDreamLayers { .on-conv-output(); }
  #deepDreamInputLayer { .layer(10vh); opacity: 1; }
  #deepDreamInputLayerReceptiveField {
    opacity: 1;
    #deepDreamReceptiveFieldHighlight {
      .blink-blue-pink(reverse)
    }
    .zoom-down(reverse);
  }
  #deepDreamConvFilter {
    opacity: 1;
  }
  #deepDreamConvOutput {
    .layer(60vh); opacity: 1;
    .cell-2-2 {
      .blink-pink();
    }
  }
  #deepDreamOutputLayer { .layer(70vh); opacity: 1; }
}

.inceptionPanDiagram #hallucinations {
  .fullscreen-gray();

  #deepDream { .layer(10vh); }
  #deepDreamLayers { .on-conv-output(); }
  #deepDreamInputLayer { .layer(10vh); opacity: 1; }
  #deepDreamInputLayerReceptiveField {
    opacity: 1;
    #deepDreamReceptiveFieldHighlight {
      .blink-blue-pink(reverse)
    }
    .zoom-down(reverse);
  }
  #deepDreamConvFilter {
    opacity: 0;
  }
  #deepDreamConvOutput {
    .layer(60vh); opacity: 1;
    .cell-2-2 {
      .blink-pink();
    }
  }
  #deepDreamOutputLayer { .layer(70vh); opacity: 1; }
  #inceptionDiagram {
    opacity: 1;
    transform: translate(0, 0);
  }
}

body[data-current-build^="dreamFullscreen"] #hallucinations,
{
  .fullscreen-black();
}


// ----

#hallucinations {
  .fixed();
  transition: 2s;
  background: black;
  perspective: 100vh;
  transform: scale(0);
  filter: blur(50px);
  opacity: 0;
}

.fullscreen-black {
  display: block;
  background: black;
  transform: scale(1);
  filter: none;
  opacity: 1;
}

.fullscreen-gray {
  background: @light-gray;
  transform: scale(1);
  filter: none;
  opacity: 1;  
}

#miquel {
  .fixed(@top: auto, @left: 5vw, @bottom: 5vh, @height: auto, @width: auto);
  .type-writer-title();
  opacity: 0;
}

.type-writer-title {
  display: block;
  transition: 1s;
  background: @electric-blue;
  color: white;
  --typewriter-cursor-color: white;
  padding: 0 9px;
}

#deepDream {
  .absolute();
  transition: 1s;
}

#deepDreamLayers {
  .absolute(10vh, 10vw, 80vw, 80vh);
  opacity: 0;
  transition: 1s;

  #deepDreamCurrentLayer {
    background: @electric-blue;
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    padding: 9px;
    display: inline-block;
    text-align: center;
  }
}

.on-conv-output {
  .layer(60vh);
  opacity: 1;

  #deepDreamCurrentLayer {
    top: 80vh;
    left: 10vw;
  }
}

#deepDream { .absolute(); }

#inceptionDiagram {
  position: absolute;
  top: 0; left: 0;
  transform: translate(0, -100%);
  width: 100vw;
  height: auto;
  opacity: 0;
  transition: transform 30s, opacity 1s;
}

#deepDreamInputLayer {
  .absolute(10vh, 10vw, 80vw, 80vh);
  background: @translucent-electric-blue;
  .layer(0);  
  opacity: 0;
  transition: 1s;
  border: thin solid @electric-blue;
}

#deepDreamInputPixels {
  .absolute(50%, 50%, 50vw, 50vh);
  transform: translate(-50%, -50%);
  opacity: 1;
}

#deepDreamInputLayerReceptiveField {
  .absolute(10vh, 10vw, 80vw, 80vh);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 1s;
  transform-origin: center top;
  transform: translateY(10vh) translateZ(-400px) rotateX(90deg);
}

#deepDreamReceptiveFieldHighlight {
  .absolute(50%, 50%, calc(50vw / 32 * 6), calc(50vh / 32 * 6));
  transform: translate(-50%, -50%);
  border: thin solid @pink;
  background: @translucent-pink;
}

#deepDreamOutputLayer {
  .absolute(10vh, 10vw, 80vw, 80vh);  
  transition: 1s;
  opacity: 0;
  text-align: center;
  bottom: 0;
  transform-origin: center bottom;
  background: @translucent-electric-blue;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 30px;
  box-sizing: border-box;
  .layer(0);
  // transform: translateY(60vh) translateZ(-400px) rotateX(90deg);
}

#deepDreamConvOutput {
  .absolute(10vh, 10vw, 80vw, 80vh);  
  .layer(10vh);
  opacity: 0;
  transition: 1s;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background: @translucent-electric-blue;

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cell {
    width: 50px;
    height: 50px;
    background: @translucent-pink;
    margin: 5px;
    border: thin solid @pink;
  }
}

.P {
  background: @electric-blue;
  color: white;
  padding: 9px;
  border-radius: 24px;
  margin: 9px;
}

.P::before {
  content: 'P(';  
}

.P::after {
  content: ')';
}

#deepDreamConvFilter {
  .absolute(45%, 50%, auto, auto);
  transform: translate(-50%, -50%);
  color: @electric-blue;
  transition: 1s;
  opacity: 0;
  --typewriter-typing-rate: 60;
  --typewriter-erasing-rate: 120;
  white-space: pre;
}

.layer(@y) {
  position: absolute;
  bottom: -200px;
  transform-origin: center top;
  transform: translateY(@y) translateZ(-400px) rotateX(90deg);
}

.zoom-down(@direction: normal) {
  animation: zoom-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: @direction;
}

.blink-blue-pink(@direction: normal) {
  animation: blue-pink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: @direction;
}

.blink-pink {
  animation: blink-pink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blink-pink {
  0% { background: @translucent-pink; }
  50% { background: @pink; }
  100% { background: @translucent-pink; }
}

@keyframes blue-pink {
  0% { background: @translucent-electric-blue; border: @electric-blue; }
  100% { background: @translucent-pink; border: @pink; }
}

@keyframes zoom-down {
  0% {
    transform: translateY(10vh) translateZ(-400px) rotateX(90deg);
  }

  100% {
    transform: translateY(65vh) translateZ(-400px) rotateX(90deg) scale(0.4) ;
  }
}
