@import "title.less";

:global(.stonesEfference #stones),
{
  > :global(#efferenceCopy) { display: block; }
}

:global(.stonesEfferenceCopy #stones),
{
  > :global(#efferenceCopy) {
    display: block;
    opacity: 1;
  }
}

:global(.stonesEfferenceCopy #stones),
{
  > :global(#efferenceCopy) {
    display: block;
    opacity: 1;
  }
}

:global(.stonesEfferenceReflection #stones),
{
  > :global(#efferenceCopy) {
    display: block;
    opacity: 1;
    transform: rotateX(180deg);
  }
}

:global(.stonesEfferenceMove #stones),
{
  > :global(#efferenceCopy) {
    .absoluteCenter();
    display: block;
    opacity: 1;
    transform: translate(-50%, 0) rotateX(180deg);
  }
}

:global(.stonesEfferenceSend) {
  :global(#titleWriter) {
    animation: send-up 4s forwards;
  }
  > :global(#stones) {
    > :global(#efferenceCopy) {
      .absoluteCenter();
      display: block;
      opacity: 1;
      transform: translate(-50%, 0) rotateX(180deg);
    }
  }
}

:global(.stonesTransformCopy) {
  :global(#titleWriter) { display: none; }
  > :global(#stones) {
    > :global(#efferenceCopy) {
      .absoluteCenter();
      color: white;
      display: block;
      opacity: 1;
      transform: translate(-50%, -50%) rotateX(0deg);
      transform-origin: center;
    }
    > :global(#bodyModel) {
      display: block;
    }
  }
}

:global(.stonesApplyCopy) {
  :global(#titleWriter) { display: none; }
  > :global(#stones) {
    > :global(#efferenceCopy) {
      .absoluteCenter();
      display: block;
      color: white;
      opacity: 0;
      transform: translate(-50%, -50%);
    }
    > :global(#bodyModel) {
      display: block;
      --wipe: 100%;

      :global(#r_finger_pos),
      :global(#l_armpit_touch_pts),
      { .flash() }
    }
  }
}

// ----

:global(#efferenceCopy) {
  .titleText();
  color: @pink;
  --typewriter-cursor-color: @pink;
  display: none;
  position: absolute;
  transition: opacity 1s, transform 1s, transform-origin 1s;
  opacity: 0;
  transform-origin: bottom left;
  transform: translateZ(0);
}

:global(#bodyModel) {
  .fixed();
  columns: 3;
  font-size: 16px;
}

body-model {
  --wipe: 0%;

  :global(.param) {
    .cell(@pink);
  }

  :global(.value) {
    .cell(@translucent-electric-blue);
    border: thin solid @electric-blue;
  }
}

.cell(@bg) {
  display: inline-block;
  padding: 4px;
  background: @bg;
  color: white;
  transition: clip-path 1s;
}

:global(.wipe-east-west) {
  clip-path: polygon(
    0 0,
    var(--wipe) 0,
    var(--wipe) 100%,
    0 100%
  );
}

:global(.wipe-west-east) {
  clip-path: polygon(
    calc(100% - var(--wipe)) 0,
    100% 0,
    100% 100%,
    calc(100% - var(--wipe)) 100%
  );
}

:global(.wipe-north-south) {
  clip-path: polygon(
    0 0,
    100% 0,
    100% var(--wipe),
    0 var(--wipe)
  );
}

:global(.wipe-south-north) {
  clip-path: polygon(
    0 calc(100% - var(--wipe)),
    100% calc(100% - var(--wipe)),
    100% 100%,
    0 100%
  );
}

@keyframes send-up {
  0% {
    top: 50%;
    transform: scaleY(1) translate(-50%, -50%);
  }

  10% {
    top: 50%;
    transform: scaleY(0.6) translate(-50%, -50%);
  }

  20% {    
    transform: scaleY(1.2) translate(-50%, -50%);
  }

  30% {    
    transform: scaleY(1) translate(-50%, -50%);
  }

  100% {
    top: -100%;
  }
}

.flash(@period: 1s, @count: 4) {
  & :global(.value) {
    animation: flash @period @count;
  }
}

@keyframes flash {
  0% { background: @translucent-electric-blue; }
  50% { background: fuchsia; }
  100% { background: @translucent-electric-blue; }
}