@import "./base.less";

:global(#titleCard) {
  display: block;
  .absolute();

  > :global(#titleWriter) {
    .absoluteCenter();
    .titleText();
    white-space: pre;
  }
}

.titleText {
  color: @electric-blue;
  font-size: 10vh;
  text-align: center;
  --typewriter-typing-rate: 14;
  --typewriter-erasing-rate: 32;
}
